body {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.titulo-principal {
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.7em;
    color: white;
    background-color: #851944;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}
.container {
    text-align: center;
    margin-top: 2.3em;
}
.sub-titulo {
    font-size: 1.7em;
    margin-top: 18px;
    margin-bottom: 15px;
}
.box-download a {
    font-size: 1.3em;
    text-decoration: none;
}
.home a {
    display: inline-block;
    border: 5px solid black;
    padding: .5em 1em;
    font-size: 1.6em;
    text-decoration: none;
    background-color: #851944;
    color: white;
}
.box-download {
    margin-top: 1px;
    margin-bottom: 16px;
}
.home a:hover {
    box-shadow: 0 0 11px black;
}
.home {
    margin-bottom: 25px;
}
.box-download a:hover {
    color:  red;
}
.imagem-principal img{
    box-shadow: 0 0 0.2em #000;
}