body{
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}
main a {
	text-decoration: none;
}
main {
}
.fto-principal img {
	width: 40em;
	box-shadow: 0 0 1em #000;
}
.fto-principal {
	text-align: center;
}
.titulo-principal {
	margin-bottom: 16px;
	text-align: center;
	font-size: 4em;
	text-align: center;
    text-transform: uppercase;
    font-size: 3.4em;
    color: white;
    background-color: #851944;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}
.container {
	margin: 0 auto;
	margin-top: 1.1em;
	text-align: center;
	width:400px;
	height:100px;
	font-size: 1.2em;

}
.download {
	font-size: 1.1em;
	margin-top: 0.5em;
}
.home {
	margin-top: 0.5em;
	text-align: center;
}
.home a {
	border: 5px solid black;
    padding: .5em 1em;
    font-size: 1.4em;
    text-decoration: none;
    background-color: #851944;
    color: white;
}
.homa:hover {
	box-shadow: 0 0 11px black;
}
.fto-principal {
	margin-top: 2.3em;
}